

.clipboard-manager {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


.box-content {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.logo-image {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sub-comment {
    padding: 10px;
    width: max-content;
}


a.btn {
    margin: 20px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;
}